<span class="sort">
    <select size="1" id="order" class="order">
        <option value="">Sort By</option>
        <option value="1">Age</option>
        <option value="2">Time</option>
    </select>
    <%= render 'experiments' %>
</span>