<h1>Concepts</h1>
<% @concepts.each do |concept| %>
<%= link_to concept.name, concept_path(concept) %><br>
  Video Explaining <a href="<%= concept.video_link %>"><%= concept.name %></a><br>
  <% concept.experiments.map do |experiment| %>
    <%= link_to experiment.name, experiment_path(experiment) %><br>
  <% end %>
  <br>
<% end %>
