/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

.experiments {
  display: none;
  /*visibility: hidden;*/
}

/* defaults */

html {font-size: 1em;}

body {
  background-color: #EEE;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  width: 100%;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  display: block;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.8em;
}

h2 {font-size: 1.6em;}

h3 {font-size: 1.4em;}

h4 {font-size: 1.24em;}

small, .font_small {font-size: 0.8em;}

textarea {
  font-family: 'Raleway', sans-serif;
  border: 0.1em solid #D6D6D6;
  font-size: 1em;
  outline-color: #DFF5D1;
  background-color: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #323232;
}

button:hover {
  background-color: #323232;
  color: #F2F3F4;
}

.main-content {
  clear: both;
  display: block;
  margin: 4.5em auto;
}

/*navigation bar*/

.nav-bar {
  display: block;
  position: fixed;
  width: 100%;
  height: 4em;
  background-color: #F2F3F4;;
  top: 0;
  left: 0;
  box-shadow: 0 8px 6px -6px #ccc;
  z-index: 2;
}

.nav-links {
  margin-top: 1.2%;
  margin-right: 1em;
  float: right;
}

.nav-link {
  font-size: 1.1em;
  padding: 0.3em 0.7em 0.7em;
  display: inline-block;
}

.nav-link:hover {
  border-bottom: 6px solid #229805;
  font-weight: bold !important;
  color: #229805 !important;
}

div.active {
  border-bottom: 5px solid #229805;
  font-weight: bold;
  color: #229805;
}

.user-status {
  position: absolute;
  top: 0;
  right: 1em;
  padding: 0 0.5em;
  margin: 0 0.5em;
  font-size: 0.9em;
}

.logo {
  float: left;
  padding: 0.4em 0 0 1em;
  font-family: 'Chelsea Market', sans-serif;
  color: #323232;
  z-index: 20;
}

.logo:hover {
  color: #229805;
}

#order {
  /*display: inline;*/
  margin-right: 10em;
  float: right;
  border: 0;
  outline-color: #DFF5D1;
  padding: 0.9em;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  background-color: #FFF;
  position: relative;
  z-index: 100;
}

/*.sort {
   border: 0.1em solid #D6D6D6;
   padding: 0.4em 0;
   outline-color: #DFF5D1;
   background-color: #FFF;
}*/

.search {
  float: left;
  margin-left: 0.5em;
  position: absolute;
  top: 7%;
  left: 6%;
  padding: 1.5em;
  z-index: -1;
}

.exp-search {
  line-height: 1.5em;
  padding: 0.1em;
  margin-left: 0.5em;
  position: absolute;
  top: 20%;
  left: 8em;
  font-family: 'Raleway', sans-serif;
  border: 0.1em solid #D6D6D6;
  font-size: 1em;
  outline-color: #DFF5D1;
}

.nav-fa-search {
  position: absolute;
  padding: 0.35em;
  background-color: #229805;
  color: white;
  border: 0.1em solid #D6D6D6;
  margin-left: -0.3em;
  top: 20%;
  left: 19em;
  outline-color: #DFF5D1;
}

/* errors & notices */

.messages {
  display: inline;
  padding-top: 4.5em;
  margin: 4.5em auto 0;
  z-index: 5;
  color: #229805;
  font-weight: bold;
  position: relative;
}
