// Place all the styles related to the concepts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.concept-img {
  height: 10em;
  width: 10em;
}
.concept-img-small{
  height: 2em;
  width: 2em;
}
.icon-small {
  height: 2em;
  width: 2em;
}
