// Place all the styles related to the concepts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.concept-img {
  max-height: 5em;
  max-width: 5em;
}
.concept-img-small{
  height: 2em;
  width: 2em;
}
.icon-small {
  max-height: 2em;
  max-width: 2em;
}

///concept tree

.row {
	clear: both;
	padding: 6px 6px;
	margin: 1px;
  overflow: auto;
}

.col {
	display: block;
	float:left;
	margin: 1% 1%;
  text-align: center;
  
}
.col:first-child { margin-left: 1%; }

 /*  GRID OF FIVE  */
 .span_5_of_5 {
 	width: 90%;
 }
 .span_4_of_5 {
 	width: 72%;
 }
 .span_3_of_5 {
 	width: 54%;
 }
 .span_2_of_5 {
 	width: 36%;
 }
 .span_1_of_5 {
 	width: 18%;
 }

.row-of-ten {
	clear: both;
	padding: 6px 6px;
  width: 100%;
	margin: 0 auto;
  overflow: auto;
  display: inline-block;
  position: relative;
  // left: 10em;
}

.col-ten:first-child { margin-left: 1%; }

  /*  connecting lines  */
.col-ten {
  width: 9.75%;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: -5px;
}
.one .span_4_of_10 {
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 5px 0 0 0;
}
.one .span_5_of_10 {
  border-top: 1px solid;
}
.one .span_6_of_10 {
  border-left: 1px solid;
  border-top: 1px solid;
}
.one .span_7_of_10 {
  border-top: 1px solid;
  border-right: 1px solid;
  border-radius: 0 5px 0 0;
}
.two > .span_2_of_10 {
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 5px 0 0 0;
}
.two > .span_3_of_10 {
  border-top: 1px solid;
  border-right: 1px solid;
}
.two > .span_4_of_10 {
  border-top: 1px solid;
}
.two > div.span_5_of_10 {
  border-top: 1px solid;
  border-right: 1px solid;
}
.two > div.span_6_of_10 {
  border-top: 1px solid;
}
.two > div.span_7_of_10 {
  border-top: 1px solid;
  border-right: 1px solid;
}
.two > div.span_8_of_10 {
  border-top: 1px solid;
}
.two > div.span_9_of_10 {
  border-top: 1px solid;
  border-right: 1px solid;
  border-radius: 0 5px 0 0;
}
.three > .span_4_of_10 {
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 5px 0 0 0;
}
.three > .span_5_of_10 {
  border-top: 1px solid;
  border-right: 1px solid;
  border-radius: 0 5px 0 0;
}
