// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exp-index-container {
	width: 70%;
	margin: 0 auto;
}

.index-header {
	margin: 1em auto;
	overflow: auto;
}

.pages {
	z-index: 100;
}
// all experiments page
.index-wrapper {
	display: inline;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.index-title {
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	padding-bottom: 0.5em;
}

.search-results-title {
	display: inline-block;
	font-weight: bold;
	float: left;
	padding-bottom: 0.5em;
}

.sort {
	float: right;
	padding-bottom: 0.5em;
}

.page-title {
	display: block;
	margin: 0 0 0 11em;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
}

.index-experiment-card {
	display: inline-block;
  position: relative;
  width: 47%;
  height: 25em;
  margin: 0;
  padding-bottom: 0.5em;

	&:nth-child(2n+2) {
		float: right;
	}
}

.index-photo {
	display: block;
	position: relative;
	padding-bottom: 40%;
	background-size: cover;
	color: #EEE;
}

.index-likes {
	margin-top: -0.3em;
}

.index-likes {
	padding: 0.5em;
	float: right;
	margin: 0 0.75em 0;
}

.index-exp-title-bar {
	// transition: all .2s ease-in-out;
	display: block;
	position: relative;
	text-align: center;
	background-color: rgba(50,50,50,0.8);
	padding: 0.5em 0;
}

.index-exp-title {
	display: inline-block;
	text-transform: uppercase;
	margin-left: 4em;
}

.index-exp-ratings {
	display: block;
  width: 100%;
  font-size: 0.8em;
  border-right: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
  border-left: 1px solid #D6D6D6;
  background-color: #F9F9F9;
}

.index-exp-ratings a {
	color: #323232 !important;
}

.ratings-container {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.index-concept-icon, .index-age, .index-time, .index-mess {
	display: inline-block;
  position: relative;
  text-align: center;
	padding: 0.7em;
}
 /*ratings  */

.star {
  display: inline-block;
}

.star:hover {
  cursor: default;
  opacity: 1.0;
}

.raty-cancel {
	display: none;
}

.mess-rate-disable {
	position: relative;
	z-index: 1;
	opacity: 1;
	&:after {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}
