// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// all experiments page
.index-wrapper {
	display: inline;
	position: relative;
	left: 13em;
}

.page-title {
	display: block;
	margin: 0 0 0 12.5em;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
}

.index-experiment-card {
	display: inline-block;
	position: relative;
	width: 35%;
	height: 25em;
	margin: -13em 1.5em 1.5em 0;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #D6D6D6;
}

.index-photo {
	display: block;
	min-height: 70%;
	background-size: cover;
	color: #EEE;
}	

.fa-thumbs-up {
	margin-top: -0.3em;
}

.index-likes {
	padding: 0.5em;
	float: right;
}

.index-exp-title-bar {
	// transition: all .2s ease-in-out;
	display: block;
	position: relative;
	text-align: center;
	background-color: rgba(50,50,50,0.8);
	width: 100%;
	padding: 0.5em 0;
	margin-top: 50%;
}

.index-exp-title {
	display: inline-block;
	text-transform: uppercase;
	margin-left: 3em;
}

.index-exp-ratings {
	display: block;
	position: relative;
	width: 100%;
	font-size: 0.85em;
	// margin: 0 auto;
	padding: 0.5em 0;
	border-right: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
	background-color: #F9F9F9;
}

.index-exp-ratings a {
	color: #323232 !important;
}

.ratings-container {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.index-concept-icon, .index-age, .index-time, .index-mess {
	display: inline-block;
	position: relative;
	text-align: center;
	padding: 0.4em;
	// height: 2em;
	// width: 2em;
}
 /*ratings  */

.star {
  display: inline-block;
}

.star:hover {
  cursor: default;
  opacity: 1.0;
}

.raty-cancel {
	display: none;
}

.mess-rate-disable {
	position: relative;
	z-index: 1;
	opacity: 1;
	&:after {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

	