// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .embed-container {
//   position: relative;
//   padding-bottom: 50%;
//   padding-top: 30px;
//   height: 0;
//   overflow: hidden;
//   width: 100%;
//   height: auto;
//   margin-bottom: 12px;
// }
//
// .embed-container iframe,
// .embed-container object,
// .embed-container embed {
//   position: absolute;
//   top: 0; left: 0;
//   width: 40%;
//   height: 40%;
// }

// all experiments page

.page-title {
	display: block;
	margin: 0 auto 0.5em;
	width: 100%;
	text-align: center;
}

.experiment-card {
	display: block;
	width: 40%;
	height: 13em;
	overflow: hidden;
	background-color: #F2F3F4;
  	box-shadow: -0 0 10px #ccc;
	margin: 1em auto;
}

// .concept-icon {
// 	float: left;
// 	margin: 1.5em auto;
// 	width: 50%;
// 	text-align: center;
// }

.info-half {
	float: left;
	font-variant: small-caps;
	width: 50%;
}

.photo-half {
	float: right;
	max-height: 100%;
	width: 50%;
	position: relative;
}

photo-half:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background: rgba(0,255,0, 0.5);
}

.concept-img {
	display: block;
	position: relative;
	// left: 40%;
	margin: 0.5em auto;
}

.concept-title {
	text-align: center;
	margin: 0;
	padding: 0;
}

.exp-title {
	// transition: all .2s ease-in-out;
	margin: 0.5em;
	display: block;
	text-align: center;
	font-variant: small-caps;
}

.exp-title:hover {
	// transform: scale(1.05);
}

.index-photo { /* need opacity or filter */
	zoom: 2;  //increase if you have very small images
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.exp-ratings { /* how to move down? */
	font-variant: small-caps;
	position: absolute;
	right: 30%;
	font-weight: bold;
	line-height: 1.6em;
	padding: 0;
	float: right;
	text-align: right;
	margin: 0.5em 0;
	z-index: 1;
}

.fa-thumbs-up {
	padding: 0.5em;
}

// .image {
// 	float: left;
// 	margin: 2.5% 0 0 2.5%;
// 	height: 15em;
// 	width: 30%;
// 	box-shadow: -0 0 10px #CCC;
// }

 /*ratings  */

.star {
  display: inline-block;
}

.star:hover {
  cursor: default;
  opacity: 1.0;
}

.time {
	display: inline;
	padding: 0.5em;
}

.raty-cancel {
	display: none;
}

.mess-rate-disable {
	display: inline;
	padding: 0.5em;
	z-index: 5;
	opacity: 1;
}
