// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .embed-container {
//   position: relative;
//   padding-bottom: 50%;
//   padding-top: 30px;
//   height: 0;
//   overflow: hidden;
//   width: 100%;
//   height: auto;
//   margin-bottom: 12px;
// }
//
// .embed-container iframe,
// .embed-container object,
// .embed-container embed {
//   position: absolute;
//   top: 0; left: 0;
//   width: 40%;
//   height: 40%;
// }
#target img {
  height: 10em;
  width: 10em;
}

.exp-img {
  img {
    height:20em;
    width: 20em;
  }
}
.page-title {
	margin-left: 4em;
}

.experiment-card {
	display: block;
	width: 80%;
	background-color: #F2F3F4;
  	box-shadow: -0 0 20px #ccc;
	margin: 1em auto;
	padding: 1em;
}

.card-container {
	padding: 1.5em;
}

.exp-img {
	float: left;
	padding: 1.5em;
}

.exp-heading {
	font-weight: bold;
	padding: 0;
}

.exp-min-detail {
	margin: 1.2em;

}
