// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .embed-container {
//   position: relative;
//   padding-bottom: 50%;
//   padding-top: 30px;
//   height: 0;
//   overflow: hidden;
//   width: 100%;
//   height: auto;
//   margin-bottom: 12px;
// }
//
// .embed-container iframe,
// .embed-container object,
// .embed-container embed {
//   position: absolute;
//   top: 0; left: 0;
//   width: 40%;
//   height: 40%;
// }
#target img {
  height: 10em;
  width: 10em;
}

// all experiments page

.page-title {
	margin-left: 4em;
}

.experiment-card {
	display: block;
	width: 80%;
	height: 18em;
	background-color: #F2F3F4;
  	box-shadow: -0 0 20px #ccc;
	margin: 1em auto;
	padding: 1em;
}

.exp-title {
	transition: all .2s ease-in-out;
}

.exp-title:hover {
	transform: scale(1.05);
}

.exp-heading {
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.exp-min-detail {
	display: inline-block;
	position: relative;
	float: right;
	line-height: 1.6em;
	margin: 0 0.5%;
	height: 20em;
	width: 63%;
}

.image {
	float: left;
	margin: 2.5% 0 0 2.5%;
	height: 15em;
	width: 30%;
	box-shadow: -0 0 10px #CCC;
}

// create experiment view tab navigation

ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
	font-size: 1.3em;
}
ul#tabs li {
    display: inline-block;
    background-color: #F2F3F4;
    padding: 5px 20px;
    color: #323232;
    cursor: pointer;
	border-bottom: solid 3px #F2F3F4;
}
ul#tabs li:hover {
    background-color: #E8E8E8;
	border-bottom: solid 3px #E8E8E8;
}
ul#tabs li.active {
	border-bottom: solid 3px #323232;
	transition: all 0.2s ease-in-out;
}
ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#tab li {
    display: none;
}
ul#tab li.active {
    display: block;
	width: 50%;
	background-color: #F2F3F4;
	margin: 0 auto;
	padding: 1em;
	box-shadow: -0 0 20px #ccc;
}

.form-container {
	padding: 2em 2.5em;
}
