/*background image*/

#landing {
  position: relative;
  z-index: 1;
  padding: 3.5em;
}

#bg {
  background-image: image-url(<%= asset_path 'discovery-crop.png' %>);
	width: 100%;
	background-size: cover;
	height: 102vh;
  margin-top: -14.5em;
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/*hero text*/

.landing-intro {
  margin: -1.5em auto 1em;
  width: 100%;
}

.landing-logo {
  padding-top: 0.5em;
  font-family: 'Chelsea Market', sans-serif;
  font-size: 5.5em;
  margin: 0 auto;
  width: 44%;
  color: #323232;
}

.stempirical-tagline {
  font-family: 'Raleway', sans-serif;
  color: #323232;
  margin: 1em auto;
  font-size: 1.5em;
  width: 65%;
  padding-left: 2em;
}

.landing-search {
  margin: 1em auto;
  width: 30em;
  position: relative;
}

.landing-exp-search {
  padding: 0.5em;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  border: 0.1em solid #D6D6D6;
  font-size: 2em;
  outline-color: #DFF5D1;
  width: 15em;
  margin-left: -1.5em;
}

.landing-fa-search {
  padding: 1.75em;
  background-color: #229805;
  color: white;
  border: 0.1em solid #D6D6D6;
  outline-color: #DFF5D1;
  float: right;
  position: absolute;
  margin-left: -1.5em;
}

.initial-suggested {
  width: 100%;
  height: 11em;
  background-color: #F9F9F9;
  border: 1px solid #D6D6D6;
  clear: both;
  margin-top: 3.2em;
}

.suggested-container {
  width: 100%;
  margin: 0.5% auto;
}

.suggested img {
  width: 23.5%;
  height: 10em;
  margin: 0.1% 0.5%;
  border: 1px solid #D6D6D6;
}
