// Place all the styles related to the Materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form-container {
	padding: 2em 2.5em;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}

.form-container .field {
  margin-bottom: 1em;
}

.form-container label {
  margin-bottom: 1em;
}

.form-container input {
  font-family: 'Raleway', sans-serif;
  border: 0.1em solid #323232;
  font-size: 1em;
  outline-color: #DFF5D1;
}

.concept-checkbox-label {
  padding: 0.3em;
  margin: 0.5em;
}  

.new-exp-concept {
  width: 100%;
  display: inline-block;
}

//inputs

textarea {
  width: 97%;
}

.tutorial-link {
  width: 60%;
  height: 1.5em;
  line-height: 1em;
}

#pictureInput {
  width: 60%;
  height: 1.5em;
  background-color: #FFF;
}

#pictureInput button {
  background-color: green;
}

// media 

#target img {
  height: 10em;
  width: 10em;
}

// add material 

.new-material li {
      position: relative;
      border: 0.07em solid #323232;
      float: left;
      font-size: 1em;
      margin: 0;
      padding: 0.5em;
      transition: background 0.3s ease-in-out 0s;
      width: 50%;
}

.material {
  z-index: 5;
}

.add-material-btn, .add-instruction-btn {
  float: right;
  margin-left: 0;
  padding: 0.31em;
  background-color: #229805;
  border: 0.1em solid #323232;
}