// Place all the styles related to the Materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
  display: inline-block;
  margin-bottom: 1em;
  position: relative;
}

.form-container {
	padding: 2em 2.5em;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}

.form-container .field {
  margin-bottom: 1em;
}

.form-container input {
  font-family: 'Raleway', sans-serif;
  border: 0.1em solid #323232;
  font-size: 1em;
  outline-color: #DFF5D1;
}

.concept-checkbox-label {
  padding: 0.3em;
  margin: 0.5em;
}  

.new-exp-concept {
  width: 100%;
  display: inline-block;
}

//inputs

textarea {
  width: 97%;
}

.tutorial-link {
  width: 60%;
  height: 1.5em;
  line-height: 1em;
}

#pictureInput {
  width: 60%;
  height: 1.5em;
  background-color: #FFF;
}

#experiment_age {
    /*-webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;*/
   border: 0.1em solid #323232;
   border-radius: 0;
   font-size: 1.2em;
   font-family: 'Raleway', sans-serif;
   border: 0.1em solid #323232;
   font-size: 1em;
   margin-right: 0.5em;
   outline-color: #DFF5D1;
   height: 1.8em;
   /*background: url('arrow-down.png')  no-repeat;*/
}

// media 

#target img {
  height: 10em;
  width: 10em;
}

// add material 

.new-materials, .new-instructions {
  border-bottom: 0.1em solid #323232;
  position: relative;
}

.new-material li {
      border: 0.07em solid #323232;
      font-size: 1em;
      margin: 0;
      padding: 0.5em;
      transition: background 0.3s ease-in-out 0s;
      line-height: 1.5em; 
      position: absolute;
}

.material {
  z-index: 5;
}

.add-material-btn, .add-instruction-btn {
  padding: 0.35em;
  background-color: #229805;
  border: 0.1em solid #323232;
}