// Place all the styles related to the Materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* from Show Page - edit for this */

.cover {
  position: relative;
}

.new-exp-image { /*replicate to edit page*/
	position: absolute;
	width: 100%;
	background-size: cover;
	height: 60vh;
	margin-top: -7em;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: 0;
 	right: 0;
  z-index: -1;
}

.largest-new-container {
	margin: 6em auto;
	position: relative;
	z-index: 0;
}

.new-container {
	width: 60%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background-color: #F9F9F9;
	border-right: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
	z-index: 1;
}

.new-exp-title-bar {
	position: relative;
	background-color: rgba(60, 63, 64, 0.8);
	width: 60%;
	padding: 1em 0;
	margin: 0 auto;
}

.new-exp-title {
	text-align: center;
	color: #FFF;
	text-transform: uppercase;
}


////


label {
  display: inline-block;
  margin: 0.5em 0;
  position: relative;
}

.form-container {
	padding: 2em 2.5em;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}

.required {
  float: right;
  font-size: 0.6em;
}

.new-basics, .new-media {
  border-bottom: 1px solid #D6D6D6;
}

.new-description {
  margin-bottom: 0.75em;
}

//inputs

textarea {
  width: 100%;
  margin-bottom: 0.5em;
}

// media

#target img {
  max-height: 15em;
  max-width: 20em;
  padding: 1em 0 0.5em 0;
}

.tutorial-link {
  width: 60%;
  height: 1.5em;
  line-height: 1em;
  margin-bottom: 1.75em;
  font-family: 'Raleway', sans-serif;
  border: 0.1em solid #D6D6D6;
  font-size: 1em;
  outline-color: #DFF5D1;
  padding: 0.3em;
}

.new-media {
  margin: 1em 0;
}

#pictureInput {
  width: 60%;
  height: 1.5em;
  background-color: #FFF;
  margin-bottom: 0.5em;
  font-family: 'Raleway', sans-serif;
  border: 0.1em solid #D6D6D6;
  font-size: 1em;
  outline-color: #DFF5D1;
  padding: 0.3em;
}

.new-time {
    padding-top: 0.5em;
}

#experiment_complete_time {
  margin-bottom: 1em;
  font-family: 'Raleway', sans-serif;
  border: 0.1em solid #D6D6D6;
  font-size: 1em;
  outline-color: #DFF5D1;
  padding: 0.3em;
}

#experiment_age {
  border: 0;
  outline-color: #DFF5D1;
  padding: 0.9em;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  background-color: #FFF;
  margin: 0 0 1em 0;
}

.age-dropdown {
   border: 0.1em solid #D6D6D6;
   padding: 0.4em 0;
   // margin: 0 0 1.5em 0;
   outline-color: #DFF5D1;
   background-color: #FFF;
}

.new-mess {
   border-bottom: 0.1em solid #D6D6D6;
   padding-bottom: 0.75em;
}

.concept-section {
   display: block;
   width: 65%;
   height: 14em;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

.single-concept {
  width: 45%;
}

.new-exp-concept {
  display: block;
  padding: 0.75em 0 0 0;
}

.new-exp-concept input {
  padding: 0.3em;
}

// add material

.unordered-list-materials label, .unordered-list-instructions label {
  display: block;
  margin-bottom: -0.5em;
  font-size: 1.1em;
}

.new-materials, .new-instructions {
  margin-bottom: 1.5em;
  border-top: 0.1em solid #D6D6D6;
  padding: 0.75em;
}

.new-material, .new-instruction {
  display: inline-block;
  width: 80%;
  padding: 0.3em;
  margin: 0 0 0.5em 0;
  font-family: 'Raleway', sans-serif;
  border: 0.1em solid #D6D6D6;
  font-size: 1em;
  outline-color: #DFF5D1;
}

.new-material li, .new-instruction li {
    border: 0.07em solid #D6D6D6;
    font-size: 1em;
    margin: 0;
    padding: 0.5em;
    transition: background 0.3s ease-in-out 0s;
    line-height: 1.5em;
}

.instruction-order {
  visibility: hidden;
}

.add-material-btn, .add-instruction-btn {
  display: block;
  margin: 0.5em 0 -0.5em;
  padding: 0.5em 0;
  background-color: #229805;
  color: white;
  border: 0.1em solid #D6D6D6;
  outline-color: #DFF5D1;
  font-size: 0.9em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  width: 12em;
}

.delete-material-btn, .delete-instruction-btn {
  display: block;
  margin: 0.5em 0 -0.5em;
  padding: 0.5em 0;
  background-color: #229805;
  color: white;
  border: 0.1em solid #D6D6D6;
  outline-color: #DFF5D1;
  font-size: 0.9em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  width: 12em;
}

.delete-material-btn, .delete-instruction-btn {
  display: block;
  margin: 0.5em 0 -0.5em;
  padding: 0.3em 0;
  background-color: #229805;
  color: white;
  border: 0.1em solid #D6D6D6;
  outline-color: #DFF5D1;
  font-size: 1.1em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif; 
  width: 2em;
}

.new-exp-btn {
  margin: 1em 0;
  padding: 1em;
  border-top: 0.1em solid #D6D6D6;
  margin-top: 0.75em;
}

.new-exp-btn input {
  color: white;
  background-color: #229805;
  font-family: 'Raleway', sans-serif;
  border: 0.1em solid #D6D6D6;
  font-size: 1.2em;
  outline-color: #DFF5D1;
  padding: 0.5em 0.75em;
  margin: 0.75em 0 0 -0.4em;
}

.new-exp-btn input:hover {
  background-color: #323232;
}