
.row1, .row3 {
	width: 90%;
	height: auto;
	overflow: hidden;
	margin: auto;
}  

.row3 {
	border-top: 1px solid #ccc;
}

.instruction-video, .show-materials, .show-instructions, .comments, .pin-it, .show-basics, .show-ratings {
	line-height: 1.5em;
}

.instruction-video, .show-materials, .show-instructions, .comments {
	display: block;
	height: auto;
	overflow: hidden;
	margin: 2em auto;
	padding: 1em;
}

.exp-image {
	max-width:100%;
	max-height:100%;
	margin: 0.5em 10%;
	overflow: hidden;
}

.show-ratings {
	float: left;
	width: 30%;
	height: auto;
	overflow: hidden;
	padding: 1em;
	margin: 1em;
}

.show-basics {
	float: left;
	width: 55%;
	// border-left: 1px solid #ccc;
	height: auto;
	overflow: hidden;
	padding: 1em;
	margin: 1em;
}

.instruction-video {
	clear: both;
	text-align: center;
	height: auto;
	overflow: hidden;
	padding: 1em;
	margin: 1em auto;
}

.show-materials {
	width: 25%;
	float: left;
	height: auto;
	overflow: hidden;
	padding: 1em;
	margin: 1em 0 0 1em;
}

.recommended {
	border-top: 1px solid #ccc;
	padding-top: 1em;
}

.show-instructions {
	width: 60%;
	float: right;
	height: auto;
	overflow: hidden;
	padding: 1em;
	margin-right: 1em;
}

.show-instruction, .show-materials > div {
	line-height: 1.7em;
}

.comments {
	clear: both;
	width: 30%;
	margin: 0 auto;
	box-shadow: -0 0 5px #ccc;
}